html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    color: #000000;
    position: relative;
    z-index: 2;
}

.content {
    position: absolute;
    top: 89%;
    left: 0%;
    width: 100%;
    height: 250px;
    background: rgb(34, 115, 92); /* Color de fondo de la caja blanca con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    text-align: center;
}

.content h1 {
    font-size: 40px;
    margin: 0;
    text-align: center;
    color:#fff ;
}

.content p {
    font-size: 32px;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.content h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
}

.image-title {
    position: absolute;
    bottom: 1700px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.image-title h2 {
    margin: 0;
    font-size: 120px;
    font-family: 'Cormorant Garamond', serif;
}

.countdown-container {
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
}

.countdown-item {
    border: 4px solid #ffffff;
    padding: 35px;
    margin: 0 20px;
    text-align: center;
    font-size: 15px;
}

.countdown-value {
    font-size: 45px;
    color: #ffffff;
}

.countdown-label {
    font-size: 14px;
    color: #ffffff;
}

.gift {
    text-align: center;
}

.present {
    top: 500px;
}

.present h2 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: 'Dancing Script';
}

.present p {
    font-size: 60px;
}

.present h3 {
    font-size: 70px;
}


#seccion1{
    background-image: url('/img/1ra.jpeg');   
}
#seccion2{
    background-image: url('/img/2da.jpeg');
    background-position: 60% 30%;
}
#seccion3{
    background-image: url('img/3ra.jpeg'); 
    background-position: 60% 30%;  
}

#seccion4{
    background-image: url('img/4ta.jpeg');   
}

#seccion5{
    background-image: url('img/5ta.jpeg');
    background-position: 55% 30%;
}

#seccion6{
    background-image: url('img/6ta.jpeg');
    background-position: 55% 30%;
}

#seccion7{
    background-image: url('img/7ma.jpeg');
    background-position: 65% 30%;
}

#seccion8{
    background-image: url('img/8va.jpg');
    background-size: 100%;
}

#seccion9{
    background-image: url('img/9na.png');
    background-size: 100%;
    background-color: #000000;
}

#seccion10{
    background-image: url('img/10ma.jpeg');
    background-position: 65% 30%;
}



.car-button {
    background-color: rgba(255, 253, 208, 0.6); /* Fondo borroso color crema */
    border: 2px solid #fff6e0; /* Borde color crema */
    padding: 15px 30px; /* Ajusta el tamaño del botón según tus necesidades */
    text-align: center;
}